/* 导航栏 */
.nav {
  width: 100vw;
  height: 10vh;
  background-color: #84C7C1;
  
}
.nav a {
  text-decoration: none;
  color: #fff;
  line-height: 10vh;
  font-size: 18px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;

  display: inline-block;
  
}

.nav a:hover {
  background: #26A69A;
}




/* 弹出的登录框 */
.login {
  display: none;
  width: 512px;
  height: 280px;
  position: fixed;
  border: #ebebeb solid 1px;
  left: 50%;
  top: 50%;
  background: #fff;
  z-index: 999;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, .2);
}
.login-title {
  height: 50px;
  /* background: #000; */
  color: #BDBDBD;
  line-height: 50px;
  font-size: 20px;
  /* align-items: center; */
  /* align-content: center; */
  text-align: center;
}

.cover {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, .3);
}

.login a {
  text-decoration: none;
  color: #000;
}
/* 输入框下划线 */
/* .underline {
  position: absolute;
  bottom: 164px;
  height: 2px;
  width: 190px;
  left: 154px;
} */
/* .underline1 {
  position: absolute;
  bottom: 164px;
  height: 2px;
  width: 190px;
  left: 154px;
}

.underline1:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #84C7C1;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.underline2 {
  position: absolute;
  bottom: 98px;
  height: 2px;
  width: 190px;
  left: 154px;
}
.underline2::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #84C7C1;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.username:focus ~ .underline1:before,
.username:valid ~ .underline1:before {
  transform: scaleX(1);
} */
/* 放大 */

.enlarge {
  display: none;
  position: absolute;
  top: 50px;
  width: 171px;
  left: 130px;

  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 5px 0;
  font-size: 18px;
  line-height: 20px;
  color: #333;

}

.enlarge::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  left: 18px;
  border: 8px solid #000;
  border-style: solid dashed dashed;
  border-color: #fff transparent transparent;
}
/* 按钮 */
.confirm {
  /* width: 50%; */
  /* line-height: 40px; */
  font-size: 18px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
/* padding: 0px 120px; */
  outline: none;

  

}
.confirm a {
  color: #fff;

  background: #84C7C1;
  height: 35px;
  width: 120px;
  text-decoration: none;
  line-height: 35px;
  outline: none;
}
/* .close img{
  position: absolute;
  height: 50px;
  right: -16px;
  top: -20px;
  background: #fff;
  border-radius: 50%;
} */
.close p{
  position: absolute;
  height: 50px;
  width: 50px;
  right: -16px;
  top: -20px;
  background: #fff;
  border-radius: 50%;
}
/* 按钮动画 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: .3s ease-out;
}
 .waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
} 

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}



/* 更换背景 */

.login-header {
  width: 100vw;
  height: 90vh;
  background:  url(../images/bgp1.jpg) no-repeat center;
  background-size: 100vw auto;
}

.choose img {
  width: 100px;
  height: 70px;
  
} 
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.choose {
  overflow: hidden;
  margin: 10px auto;
  /* background-color: #fff; */
  /* 为什么没有显示背景 */
  width: 510px;
  padding-top: 3px;
  display: none;
}

.choose li {
  float: left;
  margin: 0 1px;
  cursor: pointer;
}

/* 密码输入框的判断 */
.login-input {
  width: 500px;
  margin: 40px auto;
}
.login-input label {
  display: inline-block;
  width: 60px;
  /* height: ; */
  font-size: 18px;
  color: #8f8e8e;
  margin-left: 80px;
}
.login-input input {
  margin-left: 4px;
  /* border: ; */
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-bottom: thick double  #8f8e8e; */
  border-bottom: 2px solid silver;
  padding: 3px;
  width: 180px;
}

/* .login-input input:focus ~ label {
  transform: translateY(-20px);
} */
/* .login-input input:focus {
  border-bottom: thick double #6ecec6;
} */
.message2 {
  display: inline-block;
  font-size: 12px;
  color: #999;
  background: url(../images/mess.png) no-repeat left center;
  padding-left: 20px;

}

.wrong {
  color: red;
  background-image: url(../images/wrong.png);
}

.right {
  color: #8CD232;
  background-image: url(../images/right.png);
}
/* 用户名输入框的判断 */
/* .message1 {
  display: inline-block none;
  font-size: 12px;
  color: #999;
  background: url(../images/mess.png) no-repeat left center;
  padding-left: 20px;

} */

.message1 {
  display: none;


}
